@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.input {
  @apply w-full rounded px-3 py-2 border text-sm transition;
  background-color: var(--color-input);
  color: var(--color-foreground);
  border-color: var(--color-border);
}

/* LIGHT MODE */
:root {
  --radius: 0.625rem;
  --card: #E9E8E8; /* Off White */
  --card-foreground: #1F1F1F; /* Cinza Antracite */
  --popover: #E9E8E8; /* Off White */
  --popover-foreground: #1F1F1F; /* Cinza Antracite */
  --primary: #1F1F1F; /* Cinza Antracite */
  --primary-foreground: #E9E8E8; /* Off White */
  --secondary: #E9E8E8; /* Off White */
  --secondary-foreground: #1F1F1F; /* Cinza Antracite */
  --muted: #E9E8E8; /* Off White */
  --muted-foreground: #9E9E9E; /* Cinza Médio */
  --accent: #9E9E9E; /* Cinza Médio */
  --accent-foreground: #1F1F1F; /* Cinza Antracite */
  --destructive: oklch(0.577 0.245 27.325);
  --border: #9E9E9E; /* Cinza Médio */
  --input: #E9E8E8; /* Off White */
  --ring: #9E9E9E; /* Cinza Médio */
  --sidebar: #E9E8E8; /* Off White */
  --sidebar-foreground: #1F1F1F; /* Cinza Antracite */
  --sidebar-primary: #1F1F1F; /* Cinza Antracite */
  --sidebar-primary-foreground: #E9E8E8; /* Off White */
  --sidebar-accent: #E9E8E8; /* Off White */
  --sidebar-accent-foreground: #1F1F1F; /* Cinza Antracite */
  --sidebar-border: #9E9E9E; /* Cinza Médio */
  --sidebar-ring: #9E9E9E; /* Cinza Médio */
  --background: #E9E8E8; /* Off White */
  --foreground: #1F1F1F; /* Cinza Antracite */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

/* DARK MODE */
.dark {
  --background: #1F1F1F; /* Cinza Antracite */
  --foreground: #E9E8E8; /* Off White */
  --card: #1F1F1F; /* Cinza Antracite */
  --card-foreground: #E9E8E8; /* Off White */
  --popover: #1F1F1F; /* Cinza Antracite */
  --popover-foreground: #E9E8E8; /* Off White */
  --primary: #E9E8E8; /* Off White no dark mode */
  --primary-foreground: #1F1F1F; /* Cinza Antracite */
  --secondary: #9E9E9E; /* Cinza Médio */
  --secondary-foreground: #E9E8E8; /* Off White */
  --muted: #9E9E9E; /* Cinza Médio */
  --muted-foreground: #E9E8E8; /* Off White */
  --accent: #9E9E9E; /* Cinza Médio */
  --accent-foreground: #E9E8E8; /* Off White */
  --destructive: oklch(0.704 0.191 22.216);
  --border: #9E9E9E; /* Cinza Médio */
  --input: #9E9E9E; /* Cinza Médio */
  --ring: #9E9E9E; /* Cinza Médio */
  --sidebar: #1F1F1F; /* Cinza Antracite */
  --sidebar-foreground: #E9E8E8; /* Off White */
  --sidebar-primary: #E9E8E8; /* Off White */
  --sidebar-primary-foreground: #1F1F1F; /* Cinza Antracite */
  --sidebar-accent: #9E9E9E; /* Cinza Médio */
  --sidebar-accent-foreground: #E9E8E8; /* Off White */
  --sidebar-border: #9E9E9E; /* Cinza Médio */
  --sidebar-ring: #9E9E9E; /* Cinza Médio */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
